<meta charset="utf-8">
<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
<meta name="description" content="<%= page.description || site.description %>"/>
<link rel="stylesheet" type="text/css" href="/assets/style.css">
