---
title: News
description: News from the UNC Chapel Hill chapter of the AAUP
---
<section>
  <h2>News</h2>
  <% posts.all.forEach(post => { %>
    <%- include('../parts/post', {post}); %>
  <% }); %>
</section>
